@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background-image: url(images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

/* HEADER SECTION */
#header-section div {
    display: inline-block;
}

#header-section {
    width: 100%;
}

#left {
    width: 75%;
    padding-left: 10px;
    /* border: 2px solid red; */
}

#left h1 {
    color: #f0ffff;
    font-size: 17px;
}

#left h1 span {
    color: #d9d9d1;
}

#right {
    color: #fffff2;
}

#right ul li {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
}

#right .sign-up {
    color: #fffff2;
    background-color: transparent;
    border: 0.5px solid #fffff2;
    border-radius: 5px;
    height: 32px;
    width: 85px;
}

/* BODY SECTION */
#body-section {
    top: 53px;
    text-align: center;
    color: #ffffff;
    position: relative;
    /* border: 2px solid red; */
}

#body-section h1 {
    margin-bottom: 0;
    font-size: 59px;
    /* border: 2px solid red; */
}

#body-section p {
    font-size: 22px;
    /* border: 2px solid red; */
}

#body-section .sign-up,
.learn-more {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

#body-section .sign-up {
    background-color: white;
    color: #87959f;
}

#body-section .learn-more {
    margin: 15px 0 0 15px;
    background-color: transparent;
    border: 2px solid #9caaae;
    color: white;
}

/* DISCRIPTIVE SECTION */
#discriptive-section {
    position: relative;
    top: 180px;
    width: 78%;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    background-color: #ffffff;
    /* border: 2px solid red; */
}

#discriptive-section h1 {
    font-size: 37px;
    color: #646464;
    padding-top: 62px;
    margin-bottom: 40px;
}

#discriptive-section hr {
    width: 70%;
    color: #e5e5e5;
}

#discriptive-section p {
    font-size: 21px;
    margin: 30px 0 63px 0;
}

#discriptive-section img {
    width: 100%;
    border-radius: 0 0 6px 6px;
}

/* ICON SECTION */
#icon-secton {
    position: relative;
    top: 210px;
    width: 78%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 6px;
    color: #686464;
    text-align: center;
    /* border: 2px solid red; */
}

#icon-secton div {
    padding-top: 55px;
    width: 47%;
    display: inline-block;
}

.fa.fa-bolt {
    color: #f5f5f5;
    background-color: #e89980;
    border-radius: 100%;
    font-size: 37px;
    padding: 23px;
    width: 39px;
}

.fa.fa-area-chart {
    color: #f5f5f5;
    background-color: #7fcdb8;
    border-radius: 100%;
    font-size: 37px;
    padding: 23px;
}

.fa.fa-cloud {
    color: #f5f5f5;
    background-color: #90b0ba;
    border-radius: 100%;
    font-size: 37px;
    padding: 23px;
}

.fa.fa-lock {
    color: #f5f5f5;
    background-color: #e5cb95;
    border-radius: 100%;
    font-size: 37px;
    padding: 23px;
    width: 39px;
}

#bolt-div {
    border-right: 0.5px solid #e5e5e5;
    border-bottom: 0.5px solid #e5e5e5;
    position: relative;
    left: 23px;
}

#lock-div {
    border-left: 0.5px solid #e5e5e5;
    border-top: 0.5px solid #e5e5e5;
    left: 19px;
    position: relative;
}

/* IMAGE SECTION */
#image-section {
    top: 218px;
    position: relative;
    width: 78%;
    margin: auto;
    margin-top: 30px;
    color: #646464;
    border-radius: 6px;
    /* text-align: center; */
    /* border: 2px solid red; */
}


#image-section div {
    display: inline-block;
    width: 48.6%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 4%;
    border-radius: 6px;
}

#image-section div img {
    width: 100%;
    padding-bottom: 20px;
}

#image-section div img h1 {
    font-size: 28px;
    padding-top: 20px;
}

#image-section div button {
    background-color: #ffffff;
    color: #646464;
    border: 0.5px solid #e5e5e5;
    height: 44px;
    width: 130px;
    border-radius: 6px;
}

.boy {
    border-radius: 6px 0 0 0;
}

.road {
    border-radius: 0 6px 0 0;
}

#div5 {
    margin-left: 25px;
}

/* SIGNUP SECTION */
#signup-section {
    margin: 0;
    text-align: center;
    position: relative;
    top: 300px;
    background-color: #e89980;
}

#signup-section h1 {
    padding-top: 54px;
    color: #ffffff;
    font-size: 37px;
    /* border: 2px solid red; */
}

#signup-section p {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 17px;
    /* border: 2px solid red; */
}

#signup-section input {
    margin: 30px 0 60px 0;
    height: 48px;
    width: 271px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    background-color: #eca893;
}

::placeholder {
    color: #ffffff;
    padding-left: 20px;
}

#signup-section button {
    margin-left: 18px;
    height: 48px;
    width: 130px;
    border: none;
    border-radius: 6px;
    color: #eca893;
    font-size: 17px;
}

/* SOCIAL SECTION */
#social-section {
    position: relative;
    top: 358px;
    text-align: center;
}

.icons {
    letter-spacing: 10px;
    font-size: 32px;
}

#social-section a {
    color: #c5c5c5;
    text-decoration: none;
}

.footer li {
    margin: 15px 0 100px 0;
    list-style: none;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 17px 10px 17px;
    border-right: 0.2px solid #dddddd;
    line-height: 0.1px;
    /* border: 2px solid red; */
}

.footer li span {
    text-decoration: underline;
}

.footer li span:hover {
    text-decoration: none;
}

.footer li span:hover {
    text-decoration: none;
}

.footer li:last-child {
    border: none;
}